
input[type="number"] {
    font-size: 16px;
    text-align: center;
    width: 50%;
    -moz-appearance:textfield;
}

.swap-rate-container{
    text-align:center;
    margin: 10 0 10 0;
    color: black;
    font-weight: bold;
}